/* src/components/Checkout.css */
.checkout {
  padding: 20px;
}

.checkout h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.checkout-item {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkout p {
  font-size: 18px;
  margin: 5px 0;
}

.checkout button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.checkout button:hover {
  opacity: 0.8;
}

.checkout-item button {
  padding: 5px 10px;
  font-size: 16px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.checkout-item button:hover {
  opacity: 0.8;
}
