.navbar {
  background-color: #eb8888;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar li {
  margin: 0 15px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}
