.product-listing {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.product-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 200px;
  text-align: center;
  background-color: #e09b9b;
  border-radius: 10px;
  transition: transform 0.2s;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-card img {
  width: 100%;
  height: auto;
}

.product-card input {
  width: 50px;
}

.product-card button {
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #28a745;
  color: rgb(248, 242, 242);
}

.product-card button:hover {
  background-color: #218838;
}

@media (max-width: 768px) {
  .product-listing {
    flex-direction: column;
    align-items: center;
  }

  .product-card {
    width: 90%;
  }
}
